.container {
  padding: 24px 0;
}

.header {
  margin-bottom: 16px;
}

.preview {
  background-color: var(--mantine-color-gray-1);
  padding: 16px;
  border-radius: var(--mantine-radius-md);
  font-size: 12px;
  overflow-x: auto;
  margin: 0;
}

:global([data-mantine-color-scheme='dark']) .preview {
  background-color: var(--mantine-color-dark-6);
}
